*{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: flex;
}

.buttons{
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin-left: 5rem;
    align-items: center;
}

.buttons button{
  border: none;
  padding: .4rem 1.5rem;
  border-radius: .5rem;
  margin-right: .5rem;
  cursor: pointer;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1rem 1.5rem;
  }

  th{
    background-color: rgba(213,213,212,255);
  }


  .currencyCode{
    background-color: #f0f0f1;
    font-weight: bold;
  }

  #currencyValue{
    font-size: 1.5rem;
  }

  .decrease{
    background-color: #f3c4c5;
    color: #fb3535;
    font-weight: bold;
  }
  .increase{
    background-color: #00fe01;
    font-weight: bold;
  }